/**
 * custom styling
 */

/**
 * lists
 */
.markdown-section ul {
	list-style: none;
    padding: 0;
}

.markdown-section li a {
	display: block;
}

.markdown-section li a:hover {
	background-color: #f3f3f3;
	text-decoration: none;
}

/**
 * text styling
 */
.text-info {
	color: #5bc0de;
}
.text-danger {
	color: #d9534f;
}
