/**
 * custom styling
 */

/**
 * lists
 */
.markdown-section ul {
	list-style: none;
    padding: 0;
}

.markdown-section li a {
	display: block;
}

.markdown-section li a:hover {
	background-color: #f5f5f5;
	text-decoration: none;
}

/**
 * text styling
 */
.text-info {
	color: #1976d2;
}
.text-danger {
	color: #d32f2f;
}
